#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
#	dh_installchangelogs CHANGELOG
	dh_installdocs
	dh_install
	dh_installdebconf	
#	dh_installlogrotate
	dh_installman
	dh_installcron

    # dh_install can't rename, so lets
    # rename the database upgrade scripts
    # in a way that dbconfig expects
    #
	rename -v 's/(.*\/).*?([\.0-9]+)\..*/\1\2/' debian/playsms/usr/share/dbconfig-common/data/playsms/upgrade/mysql/playsms-upgrade_*.sql

	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


# Build architecture-dependent files here.
binary-arch:

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
